.projects-container {
    display: grid;
    width: 100%;
    padding: 0px 120px;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 1rem;
}

.title, .details {
    color: var(--theme-dark);
}
.project {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project a {
    text-decoration: none;
    color: inherit;
}

.project-image {
    width: 100%;
    max-width: 810px;
    aspect-ratio: 810 / 550;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    border-radius: 10px;
}

.project-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 810px;
}
.project-info .title {
    font-weight: 900;
    font-size: 30px;
    display: flex;
}

.project-info .title span {
    align-self: flex-end;
}

.project-info .details {
    font-size: 20px;
    font-weight: 500;
    font-family: "Archivo Normal", sans-serif;
    display: flex;
}

.project-info .details span {
    align-self: flex-end;
}